{% extends 'shop/base.html' %}


{% block content %}
<div class="container mt-5" style="width: 30em">
    <div class="card">
        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Login</strong>
        </h5>
        <div class="card-body px-lg-5 pt-0">
            <form method="post" class="text-center" style="color: #757575;" action=".">
                {% csrf_token %}
                {% for field in form %}
                {{ field.errors }}
                <div class="md-form">
                    <input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}"
                           id="{{ field.id_for_label }}" class="form-control">
                    <label for="{{ field.html_name }}">{{ field.name }}</label>
                </div>
                {% endfor %}

                <div class="d-flex justify-content-around">
                    <div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
                            <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
                        </div>
                    </div>
                    <div>
                        <a href="">Forgot password?</a>
                    </div>
                </div>
                <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">
                    Login
                </button>
                <p>Not a member?
                    <a href="{% url 'shop:register' %}">Register</a>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}